<h1>Esta jugando: <%= @@juego.nombreJugador%></h1>
<h2>  Pregunta <%= @numero %> de <%= @@juego.totalDePreguntas %></h2>

<h4><%= @pregunta.titulo %></h4>

<% @pregunta.opciones.each_with_index do |opcion, index| %>
    <% if index == @pregunta.respuestaIndice %>
       
        <% if  @numero ==  @@juego.totalDePreguntas %>
            <form method="GET" action="/ganaste">
        <% else %>
            <form method="GET" action="/pregunta/<%= @numero + 1 %>">
        <% end %>
    <% else %>
        <form method="GET" action="/perdiste">
    <% end %>


    <button type="submit" id="opcion<%= index %>">
            <%= opcion %>
        </button>
    </form>
<% end %>
