<h1>Esta jugando: <%=@nombreJugador%></h1>
<h2>  Pregunta <%= @@preguntas.preguntaActual + 1%> de <%= @@preguntas.preguntas.length %></h2>

<h4><%= @pregunta.titulo %></h4>

<% @pregunta.opciones.each_with_index do |opcion, index| %>
    <% if index == @pregunta.respuestaIndice %>
       
        <% if  @numero == @@preguntas.preguntas.length %>
            <form method="GET" action="/ganaste">
        <% else %>
            <form method="POST" action="/pregunta/<%= @numero + 1 %>">
        <% end %>
            <button type="submit" id="opcion<%= index %>" name="opcion<%= index %>">
                <%= opcion %>
            </button>
        </form>
    <% else %>
        <form method="GET" action="/perdiste">
            <button type="submit" id="opcion<%= index %>" name="opcion<%= index %>">
                <%= opcion %>
            </button>
        </form>
    <% end %>

<% end %>
