<h4><%=@pregunta.titulo%></h4>

<% @pregunta.opciones.each_with_index do |opcion, index| %>
    <% if index == @pregunta.respuestaIndice %>
        <% if  @pregunta.esUltimo == true %>
            <form method="POST" action="/ganaste">
        <% else %>
            <form method="POST" action="/pregunta">
        <% end %>
            <button type="submit" id="opcion<%= index %>" name="opcion<%= index %>">
                <%= opcion %>
            </button>
        </form>
    <% else %>
        <form method="POST" action="/perdiste">
            <button type="submit" id="opcion<%= index %>" name="opcion<%= index %>">
                <%= opcion %>
            </button>
        </form>
    <% end %>

<% end %>
